.feature {
    margin: 10rem auto;
    text-align: center;
    @include breakpoint-up(large) {
        text-align: left;
        margin-top: 23rem;
        margin-bottom: 15rem;
    }
    @include breakpoint-up(large) {
        &__flex {
            flex-direction: row;
        }
    }
    &__about {
        position: relative;
        &::before {
            content: '';
            display: inline;
            border-top: 1px solid black;
            position: absolute;
            top: -5%;
            left: 30%;
            width: 8.75rem;
            @include breakpoint-up(medium) {
                left: 40%;
            }
            @include breakpoint-up(large) {
                top: -20%;
                left: 0;
            }
        }
        h1 {
            margin-bottom: 5rem;
            font-size: $h1mobile;
            @include breakpoint-up(large) {
                font-size: $h1desktop;
            }
        }
    }
    &__item {
        &:not(:last-child){
            margin-bottom: 4rem;
        }
        @include breakpoint-up(large){
            &:not(:last-child){
                margin-right: 3rem;
            }
        }  
    }
    &__icon {
        margin-bottom: 1rem;
    }
    &__tittle {
        margin-bottom: 1rem;
        h3 {
            font-size: 25px;
        }
    }
    &__text {
        opacity: .7;
    }
    &__banner {
        position: relative;
        background-color: $DarkViolet;
        padding: 4rem 2rem;
        margin-top: 7rem;
        button {
            z-index: 999;
            &:hover {
                background-color: $VeryLightGray;
                color: $DarkViolet;
                cursor: pointer;
            }
        }
        &::after {
            content: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-how-we-work-mobile_xmpzvj.svg');
            position: absolute;
            top: 0;
            right: 0;
            z-index: 499;
            @include breakpoint-up(large) {
                content: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-how-we-work-desktop_lw0zfq.svg');

            }
        }
        @include breakpoint-up(large){
            flex-direction: row;
            min-height: 11.7rem;
            padding: 2rem 4rem;
            margin-top: 10rem;
        }
        .__tittle {
            flex: 1;
            h2 {
                color: $VeryLightGray;
                margin-bottom: 3rem;
                font-size: 39px;
                z-index: 999;
                @include breakpoint-up(large){
                    margin: 0 auto;
                    font-size: 54px;
                }
            }
        }
        .__container {
            flex: 1;
            justify-content: flex-end;
        }
    }
}