.hero {
    background-color: $DarkViolet;
    color: $VeryLightGray;
    min-height: 37.5rem;
    z-index: 0;
    @include breakpoint-up(medium){
        padding-top: 3rem;
    }
    @include breakpoint-up(large) {
        .container {
            flex-direction: row;
            margin: auto;
        }
    }

    // Mobile
    @include breakpoint-down(small) {
        &::before {
            content: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-mobile_exsnkn.svg');
            position: absolute;
            left: 0;
            bottom: -40px;
            z-index: 0;
        } 
        &::after {
            content: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678821/bg-pattern-intro-right-mobile_xdlpd9.svg');
            position: absolute;
            right: 0;
            bottom: -510px;
        }
    }
    @include breakpoint-up(large) {
        &::before {
            content: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-desktop_ryv6bc.svg');
            position: absolute;
            bottom: -30%;
        }

    } 
    &__image {
        position: relative;
        min-height: 27.5rem;
        margin: 0 -2rem;
        background-image: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-mobile_vmwpvc.jpg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 999;

        @include breakpoint-up(medium){
            min-height: 35rem;
            background-size: cover;
            background-position: center;
            margin: inherit;          }

        @include breakpoint-up(large) {
            flex: 1;
            order: 2;
            margin: 0 auto;
            min-height: 37rem;
            background-image: none;
            z-index: 499;
            &::before {
                content: '';
                position: absolute;
                bottom: -20%;
                right: 0;
                width: 100%;
                height: 110%;
                background-image: url('https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-desktop_zhptsm.jpg');
                background-repeat: no-repeat;
                background-position: center bottom;
            }
        }


    }
    &__text {
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;
        z-index: 999;
        h1 {
            font-size: $h1mobile;
            margin-bottom: 1rem;
            white-space: nowrap;
            @include breakpoint-up(medium) {
                font-size: $h1desktop;
            }
        }
        p {
            font-size: 14px;
            margin-bottom: 1rem;
        }
        button {
            margin-top: 1rem;
        }
        @include breakpoint-up(large) {
            flex: 1;
            order: 1;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            &::before {
                content: '';
                display: inline;
                border-top: 1px solid $VeryLightGray;
                position: absolute;
                top:  0;
                width: 8.75rem;
            }
            p {
                line-height: 1.9;
            }
            .button {
                width: 9rem;
                &:hover {
                    background-color: $VeryLightGray;
                    color: $DarkViolet;
                    cursor: pointer;
                }
            }
        }
    }
}