* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 1.1;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

button, .button {
  color: #fafafa;
  background-color: transparent;
  padding: 0.5rem 1.875rem;
  border: 2px solid #fafafa;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .container {
    padding: 0 10rem;
    min-height: inherit;
  }
}

@media (max-width: 63.9375em) {
  .container {
    padding: 0 2rem;
    min-height: inherit;
  }
}

.header {
  position: relative;
  z-index: 1000;
}

@media (min-width: 64em) {
  .header::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678821/bg-pattern-intro-right-desktop_ty0idy.svg");
    position: absolute;
    right: -3%;
    z-index: 500;
  }
}

.header nav {
  padding: 1.875rem 0;
}

.header__toggle .span__container {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #2d2640;
}

.header__toggle .span__container.open > span:first-child {
  -webkit-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

.header__toggle .span__container.open > span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.header__toggle .span__container.open > span:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

.header__toggle .span__container > span {
  width: 17px;
  height: 2px;
  background-color: #2d2640;
  margin: 2px auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__links a {
  color: #837d87;
  text-transform: uppercase;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.header__links a:hover {
  color: #2b272f;
}

.header__links a:not(:last-child) {
  margin-right: 1.875rem;
}

.header__links a.selected {
  padding: 0.5rem 1.875rem;
  color: #2d2640;
  border: 2px solid #2d2640;
  font-weight: 700;
}

.header__links a.selected:hover {
  background-color: #2b272f;
  color: #fafafa;
}

.header__menu {
  margin: 0 -2rem;
  padding-top: 3rem;
  z-index: 1000;
  position: absolute;
  top: 6rem;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80vh;
  background-color: #2b272f;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.header__menu a {
  color: #fafafa;
  text-transform: uppercase;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.header__menu a:not(:last-child) {
  margin-bottom: 2rem;
}

.header__menu a.selected {
  padding: .7rem 6.5rem;
  border: 2px solid #fafafa;
}

.header__menu::after {
  content: url(/images/bg-pattern-mobile-nav.svg);
  position: absolute;
  bottom: 0;
}

.header__menu.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

@media screen and (min-width: 385px) {
  .header__menu::after {
    display: none;
  }
}

.hero {
  background-color: #2d2640;
  color: #fafafa;
  min-height: 37.5rem;
  z-index: 0;
}

@media (min-width: 40em) {
  .hero {
    padding-top: 3rem;
  }
}

@media (min-width: 64em) {
  .hero .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
}

@media (max-width: 39.9375em) {
  .hero::before {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-mobile_exsnkn.svg");
    position: absolute;
    left: 0;
    bottom: -40px;
    z-index: 0;
  }
  .hero::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678821/bg-pattern-intro-right-mobile_xdlpd9.svg");
    position: absolute;
    right: 0;
    bottom: -510px;
  }
}

@media (min-width: 64em) {
  .hero::before {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-desktop_ryv6bc.svg");
    position: absolute;
    bottom: -30%;
  }
}

.hero__image {
  position: relative;
  min-height: 27.5rem;
  margin: 0 -2rem;
  background-image: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-mobile_vmwpvc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 35rem;
    background-size: cover;
    background-position: center;
    margin: inherit;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    min-height: 37rem;
    background-image: none;
    z-index: 499;
  }
  .hero__image::before {
    content: '';
    position: absolute;
    bottom: -20%;
    right: 0;
    width: 100%;
    height: 110%;
    background-image: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-desktop_zhptsm.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.hero__text {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  z-index: 999;
}

.hero__text h1 {
  font-size: 45px;
  margin-bottom: 1rem;
  white-space: nowrap;
}

@media (min-width: 40em) {
  .hero__text h1 {
    font-size: 65px;
  }
}

.hero__text p {
  font-size: 14px;
  margin-bottom: 1rem;
}

.hero__text button {
  margin-top: 1rem;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .hero__text::before {
    content: '';
    display: inline;
    border-top: 1px solid #fafafa;
    position: absolute;
    top: 0;
    width: 8.75rem;
  }
  .hero__text p {
    line-height: 1.9;
  }
  .hero__text .button {
    width: 9rem;
  }
  .hero__text .button:hover {
    background-color: #fafafa;
    color: #2d2640;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */