* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 66px;
  line-height: 1.1;
}

body h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
}

body h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
}

body ul {
  list-style: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

button, .button {
  color: #fafafa;
  background-color: transparent;
  padding: 0.5rem 1.875rem;
  border: 2px solid #fafafa;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 69.31rem;
    min-height: inherit;
  }
}

@media (max-width: 63.9375em) {
  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    min-height: inherit;
  }
}

.header {
  position: relative;
  z-index: 1000;
  background-color: white;
}

.header nav {
  padding: 1.875rem;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding: 1.95rem 1rem;
  }
}

.header__toggle .span__container {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #2d2640;
}

.header__toggle .span__container.open > span:first-child {
  -webkit-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
}

.header__toggle .span__container.open > span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.header__toggle .span__container.open > span:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
}

.header__toggle .span__container > span {
  width: 17px;
  height: 2px;
  background-color: #2d2640;
  margin: 2px auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__links a {
  color: #837d87;
  text-transform: uppercase;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.header__links a:hover {
  color: #2b272f;
}

.header__links a:not(:last-child) {
  margin-right: 1.875rem;
}

.header__links a.selected {
  padding: 0.5rem 1.875rem;
  color: #2d2640;
  border: 2px solid #2d2640;
  font-weight: 700;
}

.header__links a.selected:hover {
  background-color: #2b272f;
  color: #fafafa;
}

.header__menu {
  margin: 0 -2rem;
  padding-top: 3rem;
  z-index: 1000;
  position: absolute;
  top: 6rem;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80vh;
  background-color: #2b272f;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.header__menu a {
  color: #fafafa;
  text-transform: uppercase;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

.header__menu a:not(:last-child) {
  margin-bottom: 2rem;
}

.header__menu a.selected {
  padding: .7rem 6.5rem;
  border: 2px solid #fafafa;
}

.header__menu::after {
  content: url(/images/bg-pattern-mobile-nav.svg);
  position: absolute;
  bottom: 0;
}

.header__menu.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

@media screen and (min-width: 385px) {
  .header__menu::after {
    display: none;
  }
}

.hero {
  background-color: #2d2640;
  color: #fafafa;
  min-height: 25.25rem;
  z-index: 0;
}

@media (min-width: 64em) {
  .hero .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
  }
  .hero .flex::before {
    content: '';
    display: inline;
    border-top: 1px solid #fafafa;
    position: absolute;
    top: 0;
    width: 8.75rem;
  }
}

@media (max-width: 39.9375em) {
  .hero::before {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-mobile_exsnkn.svg");
    position: absolute;
    left: 0;
    bottom: -10%;
    z-index: 0;
  }
  .hero::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678821/bg-pattern-intro-right-mobile_xdlpd9.svg");
    position: absolute;
    right: 0;
    bottom: -83%;
  }
}

@media (min-width: 64em) {
  .hero {
    padding-top: 6.6rem;
  }
  .hero::before {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-intro-left-desktop_ryv6bc.svg");
    position: absolute;
    bottom: -28%;
    z-index: 500;
  }
  .hero::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678821/bg-pattern-intro-right-desktop_ty0idy.svg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
  }
}

.hero__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 27.5rem;
  margin: 0 -2rem;
  background-image: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-mobile_vmwpvc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
}

@media (min-width: 40em) {
  .hero__image {
    min-height: 35rem;
    background-size: cover;
    background-position: center center;
    margin: inherit;
  }
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: -10rem;
    min-height: 40.8rem;
    background-image: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678825/image-intro-desktop_zhptsm.jpg");
    z-index: 499;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.hero__text {
  margin: 5rem auto;
  text-align: center;
  z-index: 999;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__text h1 {
  font-size: 46px;
  margin-bottom: 1rem;
  white-space: nowrap;
}

@media (min-width: 40em) {
  .hero__text h1 {
    font-size: 66px;
  }
}

.hero__text p {
  font-size: 14px;
  margin-bottom: 1rem;
}

.hero__text button {
  margin-top: 1rem;
}

.hero__text button:hover {
  background-color: #fafafa;
  color: #2d2640;
  cursor: pointer;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .hero__text p {
    line-height: 1.9;
  }
  .hero__text .button {
    width: 7rem;
  }
  .hero__text .button:hover {
    background-color: #fafafa;
    color: #2d2640;
    cursor: pointer;
  }
}

.feature {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .feature {
    text-align: left;
    margin-top: 23rem;
    margin-bottom: 15rem;
  }
}

@media (min-width: 64em) {
  .feature__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.feature__about {
  position: relative;
}

.feature__about::before {
  content: '';
  display: inline;
  border-top: 1px solid black;
  position: absolute;
  top: -5%;
  left: 30%;
  width: 8.75rem;
}

@media (min-width: 40em) {
  .feature__about::before {
    left: 40%;
  }
}

@media (min-width: 64em) {
  .feature__about::before {
    top: -20%;
    left: 0;
  }
}

.feature__about h1 {
  margin-bottom: 5rem;
  font-size: 46px;
}

@media (min-width: 64em) {
  .feature__about h1 {
    font-size: 66px;
  }
}

.feature__item:not(:last-child) {
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .feature__item:not(:last-child) {
    margin-right: 3rem;
  }
}

.feature__icon {
  margin-bottom: 1rem;
}

.feature__tittle {
  margin-bottom: 1rem;
}

.feature__tittle h3 {
  font-size: 25px;
}

.feature__text {
  opacity: .7;
}

.feature__banner {
  position: relative;
  background-color: #2d2640;
  padding: 4rem 2rem;
  margin-top: 7rem;
}

.feature__banner button {
  z-index: 999;
}

.feature__banner button:hover {
  background-color: #fafafa;
  color: #2d2640;
  cursor: pointer;
}

.feature__banner::after {
  content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-how-we-work-mobile_xmpzvj.svg");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 499;
}

@media (min-width: 64em) {
  .feature__banner::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-how-we-work-desktop_lw0zfq.svg");
  }
}

@media (min-width: 64em) {
  .feature__banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 11.7rem;
    padding: 2rem 4rem;
    margin-top: 10rem;
  }
}

.feature__banner .__tittle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.feature__banner .__tittle h2 {
  color: #fafafa;
  margin-bottom: 3rem;
  font-size: 39px;
  z-index: 999;
}

@media (min-width: 64em) {
  .feature__banner .__tittle h2 {
    margin: 0 auto;
    font-size: 54px;
  }
}

.feature__banner .__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  background-color: #fafafa;
  position: relative;
  text-align: center;
  padding: 5rem 0;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 39.9375em) {
  .footer::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-footer-mobile_jwyttx.svg");
    position: absolute;
    left: 0;
    top: 0;
    z-index: 499;
  }
}

@media (min-width: 64em) {
  .footer {
    text-align: left;
  }
  .footer::after {
    content: url("https://res.cloudinary.com/dkbbe0tdb/image/upload/v1616678819/bg-pattern-footer-desktop_rleub2.svg");
    position: absolute;
    left: 0;
    top: 0;
    z-index: 499;
  }
}

.footer__socials {
  margin-bottom: 6rem;
  position: relative;
  z-index: 999;
}

.footer__socials::after {
  content: '';
  position: absolute;
  display: inline;
  border-top: 1px solid black;
  opacity: .2;
  width: 100%;
  bottom: -50%;
}

@media (min-width: 64em) {
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 4rem;
  }
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__icons a:not(:last-child) {
  margin-right: .7rem;
}

.footer__icons a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__icons a:hover svg path {
  fill: #2b272f;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__links div:not(:last-child) {
    margin-right: 7rem;
  }
}

@media (min-width: 64em) {
  .footer__links div:not(:last-child) {
    margin-right: 11rem;
  }
}

.footer__links div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer__links div li:not(:last-child) {
  margin-bottom: .5rem;
}

.footer__links p {
  margin-bottom: 1.5rem;
  color: #2d2640;
  opacity: .4;
}

.footer__links a {
  color: #2d2640;
}

.footer__links a:hover {
  border-bottom: 1px solid #2b272f;
}
/*# sourceMappingURL=style.css.map */